.App {
	text-align: center;
}

.App-nav {
	width: 50%;
	display: flex;
	margin: 1rem auto;
	justify-content: space-around;
}

.active-link {
	color: #000;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: #999;
}
